// resource.rc
// ControllerOS OOBE 对话框资源

#include <windows.h>

// 语言选择对话框
1000 DIALOGEX 0, 0, 350, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ControllerOS"
FONT 9, "宋体", 400, 0, 0x0
BEGIN
    CONTROL "", 1001, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 50, 80, 250, 100
    LTEXT "请选择您的语言:", 1002, 50, 55, 150, 15
    DEFPUSHBUTTON "下一步", 1003, 130, 140, 90, 25
END

// 时区选择对话框
2000 DIALOGEX 0, 0, 400, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ControllerOS"
FONT 9, "宋体", 400, 0, 0x0
BEGIN
    CONTROL "", 2001, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL, 50, 90, 300, 120
    LTEXT "请选择您的时区:", 2002, 50, 65, 150, 15
    DEFPUSHBUTTON "下一步", 2003, 150, 180, 90, 25
END

// 账户创建对话框
3000 DIALOGEX 0, 0, 350, 250
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ControllerOS"
FONT 9, "宋体", 400, 0, 0x0
BEGIN
    LTEXT "用户名:", 3001, 50, 60, 60, 15
    EDITTEXT 3005, 120, 58, 180, 20, ES_AUTOHSCROLL
    LTEXT "密码(可选):", 3002, 50, 95, 60, 15
    EDITTEXT 3006, 120, 93, 180, 20, ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT "确认密码:", 3003, 50, 130, 60, 15
    EDITTEXT 3007, 120, 128, 180, 20, ES_PASSWORD | ES_AUTOHSCROLL
    DEFPUSHBUTTON "创建账户", 3004, 130, 190, 90, 25
END
